/* Reset some default styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 0 auto 20px;
}

h1 {
    font-size: 36px;
    color: #333;
}

p {
    font-size: 18px;
    color: #666;
}

/* Section-specific styles */
.about, .experience, .education, .contact {
    background-color: #fff;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.about h2, .experience h2, .education h2, .contact h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.experience ul, .education ul {
    list-style: none;
    padding-left: 0;
}

.experience li, .education li {
    margin-bottom: 20px;
}

.experience h3, .education h3 {
    font-size: 20px;
    color: #444;
    margin-bottom: 5px;
}

/* Links */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
